MutualFundAdministrationSubscriptionFmuLIB/BACKEND.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://interbank.com.pe/api/mutual-fund-administration-subscription/v1/subscription-deposit/execute" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="http://interbank.com.pe/api/mutual-fund-administration-subscription/v1/subscription-deposit/execute">


        <xsd:include schemaLocation="TLDCPAGO.xsd"/>
    <xsd:include schemaLocation="BSEC0199.xsd"/>
    <xsd:include schemaLocation="BSEC710P.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element name="MESSAGEHOST">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="HEADER" type="ns0:BSEC0199COMMAREA"/>
        <xsd:element name="HEADER_TLDCPAGO" type="ns0:TLDCPAGOCOMMAREA"/>
        <xsd:element name="BODY" type="ns0:BSEC710PCOMMAREA"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




</xsd:schema>